<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>My App</title>
</head>
<body>
    <h1>Welcome to my App</h1>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Incidunt tempora doloremque quas accusantium in quidem voluptas 
        fuga dignissimos nam deleniti, velit laudantium labore ratione, 
        iure odit non natus alias error.</p>
</body>
</html>